* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fefbff;
}

main {
  display: flex;
  width: 1600px;
  height: 860px;
  flex-direction: column;
  justify-content: space-between;
}

section:nth-child(1) > h1 {
  font-size: 4rem;
  color: #1c1b1d;
  font-weight: bold;
}

section:nth-child(1) > p {
  font-size: 2rem;
  color: #555555;
}

a {
  text-decoration: none;
  color: inherit;
}