* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fefbff;
}

main {
  display: flex;
  width: 1600px;
  height: 860px;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}