main {
  justify-content: space-between;
}

section:nth-child(1) > h1 {
  font-size: 4rem;
  color: #1c1b1d;
  font-weight: bold;
}

section:nth-child(1) > p {
  font-size: 2rem;
  color: #555555;
}

section:nth-child(2) {
  align-items: stretch;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr 1fr;
  margin: 8px 0;
}

main > section:nth-child(2) > article {
  box-sizing: border-box;
}